# Git & Documentation
.git
.gitignore
README.md
docs/

# Python Virtual Environments
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# AI Weights & Datasets
*.pt
*.weights
*.onnx
data/
*.zip
*.tar.gz

# Environment variables & Logs
.env
*.log

# Docker itself
Dockerfile
docker-compose.yml
.dockerignore